.project-quickview {
  margin-bottom: 0;
}
.project-item {
  padding-bottom: 18px;
}
.project-item input {
  vertical-align: text-top;
}
.project-item label {
  font-weight: normal;
  cursor: pointer;
  margin: 3px;
}
.project-item .release-options {
  float: right;
}
.project-item .release-options .setting-button > span,
.project-item .release-options .delete-button > span {
  font-size: 14px;
  line-height: 18px;
}
.project-item .release-options .watch-button,
.project-item .release-options .live-button {
  font-size: 13px;
}
.project-item .release-options .dest-button {
  min-width: 100px;
  font-size: 13px;
}
.project-item .release-options .dest-button .caret {
  float: right;
  margin-top: 9px;
}
