.folderDrop{
    border: 3px dashed #ccc;
    border-radius: 5px;
    height: 80px;
    font-size: 30px;
    color: #ccc;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    position: relative;
    text-align: center;
    line-height: 80px;
    font-style: italic;
}

.folderDrop.hover{
    color: #333;
    border-color: #333;
}

.folderSelect{
    margin-top: 20px;
}