<div class="project-info">
    <div class="input-group">
        <span class="input-group-addon">Name</span>
        <input type="text" class="form-control" v-model="name">
    </div>
    <div class="input-group">
        <span class="input-group-addon">Source</span>
        <input type="text" class="form-control" v-model="path">
        <span class="input-group-btn">
            <button class="btn btn-info" type="button">Select</button>
        </span>
    </div>
    <div class="input-group">
        <span class="input-group-addon">Dest</span>
        <input type="text" class="form-control" v-model="name">
    </div>
    <div>
        <label>
            <input type="checkbox" v-model="watch">
            Watch
        </label>
        <label>
            <input type="checkbox" v-model="live">
            Live
        </label>
    </div>    
</div>
