<!-- <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel" v-repeat="projects">
    <div class="panel-heading" role="tab" id="project-{{$index}}">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          {{name}}
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="project-{{$index}}">
        <c-project-info v-with="$data"></c-project-info>
    </div>
  </div>
</div> -->

<div class="panel panel-default project-panel" v-repeat="projects">
  <!-- Default panel contents -->
  <div class="panel-heading" v-on="click: showProjectInfo" data-index="{{$index}}" v-style="border-bottom-width: $parent.now==$index ? 1 : 0">{{name}}</div>
  <div class="panel-body" v-show="$parent.now==$index" v-transition="expand">
    <c-project-info v-with="$data" class="panel-body-wrap"></c-project-info>
  </div>
</div>