<div class="btn-group menu" role="group" aria-label="menu">
    <button type="button" class="btn btn-default" aria-label="Close" v-on='click:onHome'>
     <span class="glyphicon glyphicon-home"></span>
    </button>
    <button type="button" class="btn btn-default" aria-label="Close" v-on='click:onSetting'>
     <span class="glyphicon glyphicon-cog"></span>
    </button>
    <button type="button" class="btn btn-default" aria-label="Close">
         <span class="glyphicon glyphicon-remove"></span>
    </button>
</div>