.menu{
    float: right;
    .btn {
        -webkit-app-region: no-drag;
        border-top: none;
        border-right: none;
        border-top-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}