<!-- <div class="btn-group btn-group-sm nav" role="group" aria-label="nav">
    <button type="button" class="btn btn-default" v-repeat="nav" v-on="click: onViewClick" data-view="{{$key}}">{{$value}}</button>
</div> -->
<div class="btn-group menu" role="group" aria-label="control">
<!--     <button type="button" class="btn btn-default" aria-label="Close" v-on='click:onHome'>
     <span class="glyphicon glyphicon-home"></span>
    </button> -->
<!--     <button type="button" class="btn btn-default" aria-label="Close" v-on='click:onSetting'>
     <span class="glyphicon glyphicon-cog"></span>
    </button> -->
    <button type="button" class="btn btn-default" aria-label="Close" v-on='click:onRefresh'>
     <span class="glyphicon glyphicon-refresh"></span>
    </button>
    <button type="button" class="btn btn-default" aria-label="Close" v-on='click:onClose'>
         <span class="glyphicon glyphicon-remove"></span>
    </button>
    </div>
</div>